
<!-- <div class="col-lg-6 col-md-12"> -->
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Call Topics Prediction</h4>
        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script> 
      var socket = io();
      socket.connect();
      
    function getPrediction(row){
        socket.emit('createCSV',"createCSV");
        const inpObj = (row.cells[2].getElementsByTagName('input')[0])
        if (inpObj.checkValidity()) {
            
            document.getElementById("age").innerHTML = inpObj.validationMessage;
              
        
        let callsTopics= [1,1,1,1]


            const data3 = {
            labels: [
                'Join',
                'disconnect',
                'service',
                'report'
            ],
            datasets: [{
                label: 'Call Topic',
                data: callsTopics,
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(0, 102, 102)'
                ],
                hoverOffset: 8,
            }],

            };

            const config3 = {
            type: 'doughnut',
            data: data3,

            };


            const myChart3 = new Chart(document.getElementById('predictionChart'),config3);
            }else{
                alert("Age must be between 0-100")
                }
                }
    </script>
    
      <div class="card-body table-responsive">
        <div style="width: 500px; height: 200px; ">
        <table id=""  class="table table-hover" >
           <thead class="text-warning">
                <th>City</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Prev. Calls</th>
                <th>Product</th>
                
           </thead>
            <tbody id="predictionTable" >  
               <th>
                <select style="width: 3cm;  "  >
                    <option value='jerusalem'>ירושלים</option>
                    <option value='Naharia'>נהריה</option>
                    <option value='haifa'>חיפה</option>
                    <option value='tel Aviv'>תל אביב</option>
                    <option value='ashdod'>אשדוד</option>
                    <option value='Ashkelon'>אשקלון</option>
                    <option value='beer Sheva'>באר שבע</option>
                    <option value='Rishon Letzion'>ראשון לציון</option>
                    <option value='Holon'>חולון</option>
                    <option value='Ofakim'>אופקים</option>
                    <option value='Tel Sheva'>תל שבע</option>
                    <option value='Acre'>עכו</option>
                    <option value='Ariel'>אריאל</option>
                    <option value='Omer'>עומר</option>
                    <option value='Ramat gan'>רמת גן</option>
                    <option value='Ramat aviv'>רמת אביב</option>
                    <option value='Zihron yaakov'>זכרון יעקוב</option>
                    <option value='Hertzelia'>הרצליה</option>
                    <option value='Ramat hasharon'>רמת השרון</option>
                    <option value='Kfar bara'>כפר ברא</option>
                    <option value='Kfar saba'>כפר סבא</option>
                    <option value='Raanana'>רעננה</option>
                </select></th>
               <th>
                    <select style="width: 3cm;  ">
                        <option value='male'>גבר</option>
                        <option value='female'>אישה</option>
                    </select></th>
               <th><input id="age" type="number" style="width: 3cm;" min="0" max="100" required /></th>
               <th><input type="number" style="width: 3cm;" min="0" max="200" required/></th>
               <th><select style="width: 3cm;  ">
                    <option value='Internet'>אינטרנט</option>
                    <option value='Cables'>כבלים</option>
                    <option value='Cellular'>סלולרי</option>
                    <option value='Internet,Cables,Cellular'>הכל</option>
                </select></th>
     
               <th><button class="btn btn-info btn-round " onclick='getPrediction(this.parentNode.parentNode)' >Predict Topic</button></th>

               
               
          </tbody>
          <script>
              
               
               
          </script>
        </table>
       
        </div>
      </div>
      </div>
    </div>
    <div class="card" style="width: 20rem; ">
        <div class="card-header card-header-tabs card-header-primary">
          <h4 class="card-title">Call Topic Prediction</h4>
        </div>
        <div>
          <canvas id="predictionChart" width="350" height="350"></canvas>
        </div>
     
    </div>