<div class="sidebar" data-color="purple" data-background-color="black" data-image="images/sidebar-2.jpg">

<div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    מעקב מוקד שירות
  </a></div>
<div class="sidebar-wrapper ">
  <ul class="nav">
    <li id="1" class="nav-item active"  >
      <a class="nav-link" href="/">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
    <li id="2" class="nav-item">
      <a class="nav-link" href="./tables">
        <i class="material-icons">content_paste</i>
        <p>Tables List</p>
      </a>
    </li>
    <li id="3" class="nav-item ">
      <a class="nav-link" href="./predictionBml">
        <i class="material-icons">bubble_chart</i>
        <p>Icons</p>
      </a>
    </li>
    
  </ul>
</div>
</div>